* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --text-primary: #15141a;
  --text-secondary: #5b5b66;
  --text-inactive: rgba(91, 91, 102, 0.6509803921568628);
  --text-link: #1870f0;
  --text-invert: #fbfbfe;
  --background-primary: #fff;
  --background-secondary: #f9f9fb;
  --background-tertiary: #fbfbfe;
  --border-primary: #cfcfd8;
  --border-secondary: #e0e0e6;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-primary);
  color: var(--text-primary);
  accent-color: var(--accent-primary);
  overflow: auto;
}

.dark {
  --text-primary: #fbfbfe;
  --text-secondary: #cfcfd8;
  --text-inactive: rgba(207, 207, 216, 0.6509803921568628);
  --text-link: #74a9f6;
  --text-invert: #15141a;
  --background-primary: #15141a;
  --background-secondary: #23222b;
  --background-tertiary: #2b2a33;
  --border-primary: #52525e;
  --border-secondary: #3a3944;
  --sidebar-width: 266px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

main {
  transition: all 200ms ease-in-out;
}

@media screen and (min-width: 960px) {
  .header {
    margin-left: var(--sidebar-width);
  }
  main {
    margin-left: var(--sidebar-width);
  }
}
