.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 266px;
  padding: 15px;
  background-color: var(--background-secondary);
  border-right: 1px solid var(--border-primary);
  overflow-y: auto;
  transform: translateX(-100%);
  transition: all 200ms ease-in-out;
  z-index: 30;
}

.sidebar.open {
  transform: translateX(0);
}

.overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 200ms ease-in-out;
  z-index: 25;
}

.sidebar.open ~ .overlay {
  visibility: visible;
}

.sidebar-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-list-item {
  position: relative;
  width: 100%;
}

.sidebar-list-item:hover {
  background-color: var(--background-tertiary);
}

.sidebar-list-item.active::before {
  content: '';
  background-color: red;
  height: 100%;
  left: 0;
  width: 3px;
  position: absolute;
}

.sidebar-list-link {
  display: flex;
  width: 100%;
  padding: 8px 0 8px 25px;
  align-items: center;
  color: var(--text-secondary);
}

.sidebar-list-link svg {
  width: 24px;
  height: 24px;
}

.sidebar-list-text {
  margin-left: 24px;
}

@media screen and (min-width: 992px) {
  .sidebar {
    transform: translateX(0);
    border: none;
    background-color: var(--background-primary);
    top: 50px;
    z-index: 1;
  }
  .sidebar.open ~ .overlay {
    visibility: hidden;
  }
}
